/* Styles for course ratings */

.comment-ta {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    height: 100px;
    min-height: 48px;
    min-width: 240px;
    width: 100%;
}

.block-rating-start {
    cursor: pointer;
}

.star-img {
    margin-right: .5em;
    height: 20px !important;
    width: 20px !important;
}

.star-img-small {
    margin-right: .5em;
    height: 12px !important;
    width: 12px !important;
}

.btn-comment {
    background: #9F6EDE;
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    height: 38px;
    padding: 8px 16px;
    width: 191px;
}

h1.review_title {
    color: #2B2B2B;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
}


.text_review{
    color: #2B2B2B;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.text_percent {
    display: inline-block;
    width: 45px;
}

.bar_reviews {
    background-color: #EBBE34;
    display: inline-block;
    height: 9px;
    min-width: 2px;
    max-width: 75%;
}

@media (max-width: 1000px){
    .bar_reviews {
        max-width: 40%;
    }
}
.myreview_title {
    color: #2B2B2B;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.myreview_date {
    color: #858585;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}
.myreview_text {
    color: #2B2B2B;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

}
