 <div class="row pl-3">
        <div class="col-12 col-sm-3 col-lg-2 text-center text-sm-right">
            <h1 class="rating_title">
                {{rating_total}}
            </h1>
        </div>
        <div class="col-12 col-sm-9 col-lg-10 mr-n3 text-center text-sm-left">
            {{{rating_stars}}}
            <br/>
            <p class="pt-1 text_rating d-block">
                {{rating_text_votes}}
            </p>
        </div>
    </div>
    <!-- Rating Percents -->
    <div class="row pl-3 mb-3">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3 pl-md-5 pl-sm-3 mr-n3">
            {{{stars_percents}}}
        </div>
        <div class="col-6 col-sm-7 col-md-7 col-lg-8 col-xl-9 ml-sm-n5 ml-n5 d-none d-sm-block">
        {{{stars_bars}}}
        </div>
    </div>